In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine
engine = create_engine('sqlite:///data/hist_trips.sqlite', echo=False)

In [23]:
# Store filepath in a variable
file_one = "data/Hist_Divvy_Trips_2019_Q2.csv"
station = "data/Divvy_Bicycle_Stations.csv"

In [24]:
# Create Data frames from csv files
hist_trips_divvy_df = pd.read_csv(file_one, encoding="ISO-8859-1")
stations_df = pd.read_csv(station, encoding="ISO-8859-1")

FileNotFoundError: [Errno 2] File b'data/Hist_Divvy_Trips_2019_Q2.csv' does not exist: b'data/Hist_Divvy_Trips_2019_Q2.csv'

In [5]:
# Check column totals
hist_trips_divvy_df.count()

trip_id              1048575
start_time           1048575
end_time             1048575
bikeid               1048575
tripduration         1048575
from_station_id      1048575
from_station_name    1048575
to_station_id        1048575
to_station_name      1048575
usertype             1048575
gender                879106
birthyear             883467
dtype: int64

In [6]:
# Review Data
hist_trips_divvy_df

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,22178537,4/1/2019,4/1/2019,3280,"2,137.00",211,St. Clair St & Erie St,211,St. Clair St & Erie St,Customer,NaN,NaN
1,22178538,4/1/2019,4/1/2019,5534,"2,120.00",211,St. Clair St & Erie St,211,St. Clair St & Erie St,Customer,NaN,NaN
2,22178547,4/1/2019,4/1/2019,1406,"1,249.00",240,Sheridan Rd & Irving Park Rd,325,Clark St & Winnemac Ave,Customer,NaN,NaN
3,22178559,4/1/2019,4/1/2019,268,700,260,Kedzie Ave & Milwaukee Ave,485,Sawyer Ave & Irving Park Rd,Customer,Male,5/28/2005
4,22178671,4/1/2019,4/1/2019,217,198,413,Woodlawn Ave & Lake Park Ave,267,Lake Park Ave & 47th St,Customer,NaN,NaN
5,22178724,4/1/2019,4/1/2019,5225,312,56,Desplaines St & Kinzie St,191,Canal St & Monroe St (*),Customer,Male,6/15/2005
6,22178732,4/1/2019,4/1/2019,2520,279,192,Canal St & Adams St,37,Dearborn St & Adams St,Customer,Male,6/15/2005
7,22178758,4/1/2019,4/1/2019,276,"4,930.00",196,Cityfront Plaza Dr & Pioneer Ct,120,Wentworth Ave & Cermak Rd (Temp),Customer,NaN,NaN
8,22178859,4/1/2019,4/1/2019,6046,"1,823.00",300,Broadway & Barry Ave,6,Dusable Harbor,Customer,Female,6/15/2005
9,22178860,4/1/2019,4/1/2019,504,336,43,Michigan Ave & Washington St,18,Wacker Dr & Washington St,Customer,NaN,NaN
10,22178869,4/1/2019,4/1/2019,3457,286,75,Canal St & Jackson Blvd,109,900 W Harrison St,Customer,NaN,NaN
11,22178914,4/1/2019,4/1/2019,1860,684,44,State St & Randolph St,48,Larrabee St & Kingsbury St,Customer,Male,6/16/2005
12,22179067,4/1/2019,4/1/2019,4306,912,192,Canal St & Adams St,211,St. Clair St & Erie St,Customer,NaN,NaN
13,22179081,4/1/2019,4/1/2019,1111,781,182,Wells St & Elm St,287,Franklin St & Monroe St,Customer,NaN,NaN
14,22179195,4/1/2019,4/1/2019,5439,285,654,Racine Ave & Washington Blvd (*),96,Desplaines St & Randolph St,Customer,Female,6/13/2005
15,22179298,4/1/2019,4/1/2019,4267,335,273,Michigan Ave & 18th St,370,Calumet Ave & 21st St,Customer,NaN,NaN
16,22179378,4/1/2019,4/1/2019,790,"1,037.00",359,Larrabee St & Division St,283,LaSalle St & Jackson Blvd,Customer,NaN,NaN
17,22179462,4/1/2019,4/1/2019,5940,713,91,Clinton St & Washington Blvd,106,State St & Pearson St,Customer,NaN,NaN
18,22179566,4/1/2019,4/1/2019,1872,843,320,Loomis St & Lexington St,283,LaSalle St & Jackson Blvd,Customer,Male,6/6/2005
19,22179802,4/1/2019,4/1/2019,5759,522,654,Racine Ave & Washington Blvd (*),18,Wacker Dr & Washington St,Customer,Male,6/13/2005
20,22179907,4/1/2019,4/1/2019,4434,"1,490.00",470,Kedzie Ave & Foster Ave,489,Drake Ave & Addison St,Customer,NaN,NaN
21,22179941,4/1/2019,4/1/2019,4636,745,129,Blue Island Ave & 18th St,273,Michigan Ave & 18th St,Customer,NaN,NaN
22,22179946,4/1/2019,4/1/2019,3311,"5,005.00",176,Clark St & Elm St,176,Clark St & Elm St,Customer,Male,5/28/2005
23,22180044,4/1/2019,4/1/2019,3313,300,636,Orleans St & Hubbard St (*),96,Desplaines St & Randolph St,Customer,Male,6/17/2005
24,22180046,4/1/2019,4/1/2019,4261,"1,336.00",152,Lincoln Ave & Diversey Pkwy,191,Canal St & Monroe St (*),Customer,Male,6/13/2005
25,22180238,4/1/2019,4/1/2019,4271,843,66,Clinton St & Lake St,196,Cityfront Plaza Dr & Pioneer Ct,Customer,NaN,NaN
26,22180260,4/1/2019,4/1/2019,4930,"1,759.00",157,Lake Shore Dr & Wellington Ave,100,Orleans St & Merchandise Mart Plaza,Customer,Female,6/15/2005
27,22180269,4/1/2019,4/1/2019,4189,439,182,Wells St & Elm St,48,Larrabee St & Kingsbury St,Customer,NaN,NaN
28,22180404,4/1/2019,4/1/2019,5103,"2,059.00",283,LaSalle St & Jackson Blvd,313,Lakeview Ave & Fullerton Pkwy,Customer,NaN,NaN
29,22180432,4/1/2019,4/1/2019,774,733,247,Shore Dr & 55th St,423,University Ave & 57th St,Customer,Male,5/13/2005
...,...,...,...,...,...,...,...,...,...,...,...,...
1048545,23410091,6/27/2019,6/27/2019,4101,505,43,Michigan Ave & Washington St,174,Canal St & Madison St,Subscriber,Male,5/18/2005
1048546,23410092,6/27/2019,6/27/2019,4479,797,149,Calumet Ave & 33rd St,339,Emerald Ave & 31st St,Subscriber,Male,6/17/2005
1048547,23410093,6/27/2019,6/27/2019,1315,190,240,Sheridan Rd & Irving Park Rd,254,Pine Grove Ave & Irving Park Rd,Subscriber,Female,6/12/2005
1048548,23410094,6/27/2019,6/27/2019,6370,271,344,Ravenswood Ave & Lawrence Ave,326,Clark St & Leland Ave,Subscriber,Male,6/2/2005
1048549,23410096,6/27/2019,6/27/2019,4596,"1,859.00",51,Clark St & Randolph St,231,Sheridan Rd & Montrose Ave,Subscriber,Male,6/7/2005
1048550,23410098,6/27/2019,6/27/2019,1052,485,654,Racine Ave & Washington Blvd (*),638,Clinton St & Jackson Blvd (*),Subscriber,Male,5/31/2005
1048551,23410099,6/27/2019,6/27/2019,2962,"1,012.00",331,Halsted St & Clybourn Ave (*),303,Broadway & Cornelia Ave,Subscriber,Female,6/9/2005
1048552,23410100,6/27/2019,6/27/2019,3166,330,81,Daley Center Plaza,91,Clinton St & Washington Blvd,Subscriber,Male,5/15/2005
1048553,23410101,6/27/2019,6/27/2019,6406,550,283,LaSalle St & Jackson Blvd,134,Peoria St & Jackson Blvd,Subscriber,Female,6/12/2005
1048554,23410103,6/27/2019,6/27/2019,1126,970,240,Sheridan Rd & Irving Park Rd,298,Lincoln Ave & Belle Plaine Ave,Subscriber,Male,6/7/2005
1048555,23410104,6/27/2019,6/27/2019,298,351,240,Sheridan Rd & Irving Park Rd,246,Ashland Ave & Belle Plaine Ave,Subscriber,Male,6/17/2005
1048556,23410105,6/27/2019,6/27/2019,1571,443,51,Clark St & Randolph St,106,State St & Pearson St,Subscriber,Female,6/11/2005
1048557,23410107,6/27/2019,6/27/2019,436,"1,131.00",164,Franklin St & Lake St,69,Damen Ave & Pierce Ave,Subscriber,Male,6/14/2005
1048558,23410108,6/27/2019,6/27/2019,4094,841,344,Ravenswood Ave & Lawrence Ave,459,Lakefront Trail & Bryn Mawr Ave,Subscriber,Male,5/25/2005
1048559,23410109,6/27/2019,6/27/2019,6092,"1,086.00",81,Daley Center Plaza,61,Wood St & Milwaukee Ave,Subscriber,Male,6/13/2005
1048560,23410110,6/27/2019,6/27/2019,3736,345,483,Avondale Ave & Irving Park Rd,495,Keystone Ave & Montrose Ave,Subscriber,Female,6/8/2005
1048561,23410111,6/27/2019,6/27/2019,839,987,174,Canal St & Madison St,350,Ashland Ave & Chicago Ave,Subscriber,Male,6/8/2005
1048562,23410112,6/27/2019,6/27/2019,5375,"2,592.00",25,Michigan Ave & Pearson St,251,Clarendon Ave & Leland Ave,Subscriber,Male,5/14/2005
1048563,23410113,6/27/2019,6/27/2019,2248,873,249,Montrose Harbor,461,Broadway & Ridge Ave,Subscriber,Male,5/14/2005
1048564,23410114,6/27/2019,6/27/2019,1161,252,69,Damen Ave & Pierce Ave,183,Damen Ave & Thomas St (Augusta Blvd),Subscriber,Male,6/11/2005
1048565,23410115,6/27/2019,6/27/2019,3839,"1,645.00",383,Paulina St & Flournoy St,262,Halsted St & 37th St,Subscriber,Female,6/5/2005
1048566,23410117,6/27/2019,6/27/2019,3645,545,242,Damen Ave & Leland Ave,655,Hoyne Ave & Balmoral Ave,Subscriber,Male,5/26/2005
1048567,23410118,6/27/2019,6/27/2019,3115,"2,062.00",196,Cityfront Plaza Dr & Pioneer Ct,244,Ravenswood Ave & Irving Park Rd,Subscriber,Male,6/3/2005
1048568,23410119,6/27/2019,6/27/2019,3775,"1,588.00",196,Cityfront Plaza Dr & Pioneer Ct,296,Broadway & Belmont Ave,Subscriber,Female,6/10/2005
1048569,23410121,6/27/2019,6/27/2019,4783,485,100,Orleans St & Merchandise Mart Plaza,140,Dearborn Pkwy & Delaware Pl,Subscriber,Male,6/12/2005
1048570,23410122,6/27/2019,6/27/2019,6379,942,195,Columbus Dr & Randolph St,141,Clark St & Lincoln Ave,Subscriber,Male,6/16/2005
1048571,23410123,6/27/2019,6/27/2019,5175,"1,441.00",125,Rush St & Hubbard St,87,Racine Ave & Fullerton Ave,Subscriber,Female,6/13/2005
1048572,23410124,6/27/2019,6/27/2019,2921,354,174,Canal St & Madison St,81,Daley Center Plaza,Subscriber,Male,6/12/2005
1048573,23410125,6/27/2019,6/27/2019,5269,897,192,Canal St & Adams St,59,Wabash Ave & Roosevelt Rd,Subscriber,Male,6/4/2005
1048574,23410126,6/27/2019,6/27/2019,3674,483,287,Franklin St & Monroe St,112,Green St & Randolph St,Subscriber,Female,6/8/2005

In [7]:
# Check column totals
hist_trips_divvy_df.count()

trip_id              1048575
start_time           1048575
end_time             1048575
bikeid               1048575
tripduration         1048575
from_station_id      1048575
from_station_name    1048575
to_station_id        1048575
to_station_name      1048575
usertype             1048575
gender                879106
birthyear             883467
dtype: int64

In [8]:
# Drop rows with NAN's
hist_trps_divvy_df = hist_trips_divvy_df.dropna()

In [9]:
# Remove columns you don't need
hist_trps_divy_df = hist_trps_divvy_df.drop(["bikeid", "from_station_name", "to_station_name"], axis=1)

In [10]:
hist_trps_dvy_df = hist_trps_divy_df[hist_trps_divy_df.usertype == "Subscriber"]

In [11]:
len(hist_trps_dvy_df)

807430

In [12]:
hist_trps_dvy_df

,trip_id,start_time,end_time,tripduration,from_station_id,to_station_id,usertype,gender,birthyear
235934,22178529,4/1/2019,4/1/2019,446,81,56,Subscriber,Male,5/28/2005
235935,22178530,4/1/2019,4/1/2019,"1,048.00",317,59,Subscriber,Female,6/6/2005
235936,22178531,4/1/2019,4/1/2019,252,283,174,Subscriber,Male,6/12/2005
235937,22178532,4/1/2019,4/1/2019,357,26,133,Subscriber,Male,6/15/2005
235938,22178533,4/1/2019,4/1/2019,"1,007.00",202,129,Subscriber,Male,6/14/2005
235939,22178534,4/1/2019,4/1/2019,257,420,426,Subscriber,Male,6/21/2005
235940,22178535,4/1/2019,4/1/2019,548,503,500,Subscriber,Male,5/22/2005
235941,22178536,4/1/2019,4/1/2019,383,260,499,Subscriber,Male,6/13/2005
235942,22178539,4/1/2019,4/1/2019,297,304,232,Subscriber,Male,5/28/2005
235943,22178540,4/1/2019,4/1/2019,365,37,337,Subscriber,Male,6/13/2005
235944,22178541,4/1/2019,4/1/2019,165,75,36,Subscriber,Male,6/12/2005
235945,22178542,4/1/2019,4/1/2019,443,334,256,Subscriber,Male,6/11/2005
235946,22178543,4/1/2019,4/1/2019,293,39,255,Subscriber,Male,5/22/2005
235947,22178544,4/1/2019,4/1/2019,204,287,89,Subscriber,Male,6/16/2005
235948,22178545,4/1/2019,4/1/2019,233,148,272,Subscriber,Female,6/11/2005
235949,22178546,4/1/2019,4/1/2019,546,59,36,Subscriber,Male,5/11/2005
235950,22178548,4/1/2019,4/1/2019,243,430,427,Subscriber,Male,6/7/2005
235951,22178549,4/1/2019,4/1/2019,188,257,230,Subscriber,Male,6/3/2005
235952,22178550,4/1/2019,4/1/2019,227,427,430,Subscriber,Male,6/7/2005
235953,22178551,4/1/2019,4/1/2019,335,172,635,Subscriber,Male,6/14/2005
235954,22178552,4/1/2019,4/1/2019,662,304,246,Subscriber,Female,5/12/2005
235955,22178554,4/1/2019,4/1/2019,592,500,503,Subscriber,Male,5/22/2005
235956,22178555,4/1/2019,4/1/2019,206,90,44,Subscriber,Female,6/14/2005
235957,22178556,4/1/2019,4/1/2019,304,299,334,Subscriber,Male,6/11/2005
235958,22178557,4/1/2019,4/1/2019,292,15,205,Subscriber,Male,6/3/2005
235959,22178558,4/1/2019,4/1/2019,"1,819.00",19,31,Subscriber,Male,6/19/2005
235960,22178560,4/1/2019,4/1/2019,416,156,229,Subscriber,Male,6/8/2005
235961,22178561,4/1/2019,4/1/2019,528,91,241,Subscriber,Male,6/9/2005
235962,22178562,4/1/2019,4/1/2019,148,49,283,Subscriber,Male,5/10/2005
235963,22178563,4/1/2019,4/1/2019,846,295,300,Subscriber,Male,6/7/2005
...,...,...,...,...,...,...,...,...,...
1048545,23410091,6/27/2019,6/27/2019,505,43,174,Subscriber,Male,5/18/2005
1048546,23410092,6/27/2019,6/27/2019,797,149,339,Subscriber,Male,6/17/2005
1048547,23410093,6/27/2019,6/27/2019,190,240,254,Subscriber,Female,6/12/2005
1048548,23410094,6/27/2019,6/27/2019,271,344,326,Subscriber,Male,6/2/2005
1048549,23410096,6/27/2019,6/27/2019,"1,859.00",51,231,Subscriber,Male,6/7/2005
1048550,23410098,6/27/2019,6/27/2019,485,654,638,Subscriber,Male,5/31/2005
1048551,23410099,6/27/2019,6/27/2019,"1,012.00",331,303,Subscriber,Female,6/9/2005
1048552,23410100,6/27/2019,6/27/2019,330,81,91,Subscriber,Male,5/15/2005
1048553,23410101,6/27/2019,6/27/2019,550,283,134,Subscriber,Female,6/12/2005
1048554,23410103,6/27/2019,6/27/2019,970,240,298,Subscriber,Male,6/7/2005
1048555,23410104,6/27/2019,6/27/2019,351,240,246,Subscriber,Male,6/17/2005
1048556,23410105,6/27/2019,6/27/2019,443,51,106,Subscriber,Female,6/11/2005
1048557,23410107,6/27/2019,6/27/2019,"1,131.00",164,69,Subscriber,Male,6/14/2005
1048558,23410108,6/27/2019,6/27/2019,841,344,459,Subscriber,Male,5/25/2005
1048559,23410109,6/27/2019,6/27/2019,"1,086.00",81,61,Subscriber,Male,6/13/2005
1048560,23410110,6/27/2019,6/27/2019,345,483,495,Subscriber,Female,6/8/2005
1048561,23410111,6/27/2019,6/27/2019,987,174,350,Subscriber,Male,6/8/2005
1048562,23410112,6/27/2019,6/27/2019,"2,592.00",25,251,Subscriber,Male,5/14/2005
1048563,23410113,6/27/2019,6/27/2019,873,249,461,Subscriber,Male,5/14/2005
1048564,23410114,6/27/2019,6/27/2019,252,69,183,Subscriber,Male,6/11/2005
1048565,23410115,6/27/2019,6/27/2019,"1,645.00",383,262,Subscriber,Female,6/5/2005
1048566,23410117,6/27/2019,6/27/2019,545,242,655,Subscriber,Male,5/26/2005
1048567,23410118,6/27/2019,6/27/2019,"2,062.00",196,244,Subscriber,Male,6/3/2005
1048568,23410119,6/27/2019,6/27/2019,"1,588.00",196,296,Subscriber,Female,6/10/2005
1048569,23410121,6/27/2019,6/27/2019,485,100,140,Subscriber,Male,6/12/2005
1048570,23410122,6/27/2019,6/27/2019,942,195,141,Subscriber,Male,6/16/2005
1048571,23410123,6/27/2019,6/27/2019,"1,441.00",125,87,Subscriber,Female,6/13/2005
1048572,23410124,6/27/2019,6/27/2019,354,174,81,Subscriber,Male,6/12/2005
1048573,23410125,6/27/2019,6/27/2019,897,192,59,Subscriber,Male,6/4/2005
1048574,23410126,6/27/2019,6/27/2019,483,287,112,Subscriber,Female,6/8/2005

In [13]:
hist_trps_dvy_df.index = range(len(hist_trps_dvy_df.index))

In [14]:
hist_trps_dvy_df.head()

,trip_id,start_time,end_time,tripduration,from_station_id,to_station_id,usertype,gender,birthyear
0,22178529,4/1/2019,4/1/2019,446,81,56,Subscriber,Male,5/28/2005
1,22178530,4/1/2019,4/1/2019,"1,048.00",317,59,Subscriber,Female,6/6/2005
2,22178531,4/1/2019,4/1/2019,252,283,174,Subscriber,Male,6/12/2005
3,22178532,4/1/2019,4/1/2019,357,26,133,Subscriber,Male,6/15/2005
4,22178533,4/1/2019,4/1/2019,"1,007.00",202,129,Subscriber,Male,6/14/2005

In [15]:
hist_trps_dvy_df.to_sql('hist_trips', con=engine)

In [16]:
stations_df.to_sql('stations', con=engine)

In [3]:

rider_db = engine.execute("SELECT * FROM hist_trips").fetchall()

In [10]:
riders_tbl = pd.read_sql("SELECT * FROM hist_trips", con=engine)
riders_tbl.head()

,index,trip_id,start_time,end_time,tripduration,from_station_id,to_station_id,usertype,gender,birthyear
0,0,22178529,4/1/2019,4/1/2019,446,81,56,Subscriber,Male,5/28/2005
1,1,22178530,4/1/2019,4/1/2019,"1,048.00",317,59,Subscriber,Female,6/6/2005
2,2,22178531,4/1/2019,4/1/2019,252,283,174,Subscriber,Male,6/12/2005
3,3,22178532,4/1/2019,4/1/2019,357,26,133,Subscriber,Male,6/15/2005
4,4,22178533,4/1/2019,4/1/2019,"1,007.00",202,129,Subscriber,Male,6/14/2005

In [12]:
stations_tbl = pd.read_sql("SELECT * FROM stations", con=engine)
stations_tbl.head()

,index,ID,Station Name,Address,Total Docks,Docks in Service,Status,Latitude,Longitude,Location
0,0,102,Stony Island Ave & 67th St,None,11,11,In Service,41.773459,-87.585340,"(41.77345849948, -87.5853397391)"
1,1,103,Clinton St & Polk St,None,15,15,In Service,41.871467,-87.640949,"(41.87146651779, -87.6409491327)"
2,2,11,Jeffery Blvd & 71st St,None,11,11,In Service,41.766638,-87.576450,"(41.76663823695, -87.5764501141)"
3,3,12,South Shore Dr & 71st St,None,15,15,In Service,41.766409,-87.565688,"(41.7664094567, -87.5656875719)"
4,4,132,Wentworth Ave & 24th St (Temp),None,15,15,In Service,41.850084,-87.632141,"(41.85008369347577, -87.6321405172348)"

In [14]:
from_station_name = pd.merge(riders_tbl, stations_tbl, left_on='from_station_id', right_on='ID')
from_station_name.head()

,index_x,trip_id,start_time,end_time,tripduration,from_station_id,to_station_id,usertype,gender,birthyear,index_y,ID,Station Name,Address,Total Docks,Docks in Service,Status,Latitude,Longitude,Location
0,0,22178529,4/1/2019,4/1/2019,446,81,56,Subscriber,Male,5/28/2005,333,81,Daley Center Plaza,None,39,39,In Service,41.884241,-87.629634,"(41.884241, -87.629634)"
1,397,22178967,4/1/2019,4/1/2019,362,81,81,Subscriber,Male,6/11/2005,333,81,Daley Center Plaza,None,39,39,In Service,41.884241,-87.629634,"(41.884241, -87.629634)"
2,406,22178977,4/1/2019,4/1/2019,102,81,49,Subscriber,Male,6/13/2005,333,81,Daley Center Plaza,None,39,39,In Service,41.884241,-87.629634,"(41.884241, -87.629634)"
3,531,22179130,4/1/2019,4/1/2019,203,81,52,Subscriber,Male,5/22/2005,333,81,Daley Center Plaza,None,39,39,In Service,41.884241,-87.629634,"(41.884241, -87.629634)"
4,536,22179136,4/1/2019,4/1/2019,368,81,287,Subscriber,Male,6/11/2005,333,81,Daley Center Plaza,None,39,39,In Service,41.884241,-87.629634,"(41.884241, -87.629634)"

In [15]:
station_names = pd.merge(from_station_name, stations_tbl, left_on='to_station_id', right_on='ID')
station_names.head()

,index_x,trip_id,start_time,end_time,tripduration,from_station_id,to_station_id,usertype,gender,birthyear,...,index,ID_y,Station Name_y,Address_y,Total Docks_y,Docks in Service_y,Status_y,Latitude_y,Longitude_y,Location_y
0,0,22178529,4/1/2019,4/1/2019,446,81,56,Subscriber,Male,5/28/2005,...,150,56,Desplaines St & Kinzie St,None,27,27,In Service,41.888716,-87.644448,"(41.888716036, -87.6444478533)"
1,5503,22185554,4/1/2019,4/1/2019,542,81,56,Subscriber,Male,6/9/2005,...,150,56,Desplaines St & Kinzie St,None,27,27,In Service,41.888716,-87.644448,"(41.888716036, -87.6444478533)"
2,5556,22185616,4/1/2019,4/1/2019,592,81,56,Subscriber,Female,6/16/2005,...,150,56,Desplaines St & Kinzie St,None,27,27,In Service,41.888716,-87.644448,"(41.888716036, -87.6444478533)"
3,11028,22192661,4/2/2019,4/2/2019,591,81,56,Subscriber,Male,6/7/2005,...,150,56,Desplaines St & Kinzie St,None,27,27,In Service,41.888716,-87.644448,"(41.888716036, -87.6444478533)"
4,13221,22195306,4/2/2019,4/2/2019,574,81,56,Subscriber,Male,6/1/2005,...,150,56,Desplaines St & Kinzie St,None,27,27,In Service,41.888716,-87.644448,"(41.888716036, -87.6444478533)"

In [19]:
df = station_names[['Station Name_x', 'Station Name_y', 'tripduration']]
df.head()

       Station Name_x             Station Name_y tripduration
0  Daley Center Plaza  Desplaines St & Kinzie St          446
1  Daley Center Plaza  Desplaines St & Kinzie St          542
2  Daley Center Plaza  Desplaines St & Kinzie St          592
3  Daley Center Plaza  Desplaines St & Kinzie St          591
4  Daley Center Plaza  Desplaines St & Kinzie St          574

In [21]:
df.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [20]:
df = df.groupby(['Station Name_x', 'Station Name_y']).mean()
df.head()

DataError: No numeric types to aggregate

In [18]:

engine.execute("SELECT * FROM stations").fetchall()

[(0, 102, 'Stony Island Ave & 67th St', None, 11, 11, 'In Service', 41.773458500000004, -87.58533974, '(41.77345849948, -87.5853397391)'),
 (1, 103, 'Clinton St & Polk St', None, 15, 15, 'In Service', 41.87146652, -87.64094913, '(41.87146651779, -87.6409491327)'),
 (2, 11, 'Jeffery Blvd & 71st St', None, 11, 11, 'In Service', 41.76663824, -87.57645011, '(41.76663823695, -87.5764501141)'),
 (3, 12, 'South Shore Dr & 71st St', None, 15, 15, 'In Service', 41.76640946, -87.56568757, '(41.7664094567, -87.5656875719)'),
 (4, 132, 'Wentworth Ave & 24th St (Temp)', None, 15, 15, 'In Service', 41.85008369, -87.63214052, '(41.85008369347577, -87.6321405172348)'),
 (5, 133, 'Kingsbury St & Kinzie St', None, 31, 31, 'In Service', 41.88917683, -87.63850577, '(41.88917683258, -87.6385057718)'),
 (6, 145, 'Mies van der Rohe Way & Chestnut St', None, 19, 19, 'In Service', 41.89858665, -87.62191523, '(41.8985866514, -87.6219152258)'),
 (7, 156, 'Clark St & Wellington Ave', None, 15, 15, 'In Service', 41.93649682, -87.64753866, '(41.9364968219, -87.6475386582)'),
 (8, 157, 'Lake Shore Dr & Wellington Ave', None, 15, 15, 'In Service', 41.93668845, -87.63682902, '(41.9366884494997, -87.63682901859283)'),
 (9, 161, 'Rush St & Superior St', None, 23, 23, 'In Service', 41.89576475, -87.62590803, '(41.89576474564, -87.6259080327)'),
 (10, 172, 'Rush St & Cedar St', None, 11, 11, 'In Service', 41.902308700000006, -87.62769053, '(41.90230870122, -87.627690528)'),
 (11, 2, 'Buckingham Fountain', None, 39, 39, 'In Service', 41.87651123, -87.62054801, '(41.87651122881695, -87.62054800987242)'),
 (12, 239, 'Western Ave & Leland Ave', None, 15, 15, 'In Service', 41.96581646, -87.68649817, '(41.96581646001197, -87.68649816513062)'),
 (13, 259, 'California Ave & Francis Pl (Temp)', None, 15, 15, 'In Service', 41.91849115, -87.6974228, '(41.91849115368695, -87.69742280244827)'),
 (14, 270, 'Stony Island Ave & 75th St', None, 11, 11, 'In Service', 41.75866967, -87.58688287, '(41.7586696704, -87.586882871)'),
 (15, 286, 'Franklin St & Adams St (Temp)', None, 15, 15, 'In Service', 41.87943409, -87.63550401, '(41.87943409140013, -87.63550400733948)'),
 (16, 3, 'Shedd Aquarium', None, 55, 55, 'In Service', 41.86722596, -87.61535539, '(41.86722595682, -87.6153553902)'),
 (17, 31, 'Franklin St & Chicago Ave', None, 23, 23, 'In Service', 41.89674697, -87.63566762, '(41.896746973093805, -87.63566762208939)'),
 (18, 319, 'Greenview Ave & Diversey Pkwy', None, 15, 15, 'In Service', 41.93258963, -87.66593635, '(41.93258963429789, -87.66593635082245)'),
 (19, 34, 'Cannon Dr & Fullerton Ave', None, 15, 15, 'In Service', 41.92675599, -87.63442879, '(41.9267559875, -87.6344287848)'),
 (20, 348, 'California Ave & 21st St', None, 15, 15, 'In Service', 41.85380407, -87.69574240000001, '(41.8538040657915, -87.69574239850043)'),
 (21, 352, 'Jeffery Blvd & 67th St', None, 11, 11, 'In Service', 41.77351755, -87.57714283, '(41.77351755125, -87.5771428255)'),
 (22, 354, 'Sheridan Rd & Greenleaf Ave', None, 15, 15, 'In Service', 42.01058656, -87.6624121, '(42.01058656284, -87.6624120948)'),
 (23, 356, 'Stony Island Ave & 71st St', None, 11, 11, 'In Service', 41.76649294, -87.58646088, '(41.7664929373, -87.5864608775)'),
 (24, 359, 'Larrabee St & Division St', None, 23, 23, 'In Service', 41.90348607, -87.64335349, '(41.90348607004, -87.6433534936)'),
 (25, 36, 'Franklin St & Jackson Blvd', None, 39, 39, 'In Service', 41.87770796, -87.63532114, '(41.8777079559, -87.6353211408)'),
 (26, 364, 'Larrabee St & Oak St', None, 19, 19, 'In Service', 41.90021949, -87.64298547, '(41.90021949323, -87.6429854676)'),
 (27, 366, 'Loomis St & Archer Ave', None, 11, 11, 'In Service', 41.84163254, -87.65743495, '(41.84163253965, -87.6574349533)'),
 (28, 367, 'Racine Ave & 35th St', None, 15, 15, 'In Service', 41.83069611, -87.65597591, '(41.83069611252, -87.6559759116)'),
 (29, 368, 'Ashland Ave & Archer Ave', None, 15, 15, 'In Service', 41.83920868, -87.66560986, '(41.83920868403, -87.6656098589)'),
 (30, 369, 'Wood St & 35th St', None, 11, 11, 'In Service', 41.83010465, -87.67029831, '(41.83010465416, -87.6702983089)'),
 (31, 37, 'Dearborn St & Adams St', None, 19, 19, 'In Service', 41.87935636, -87.62979104, '(41.8793563587, -87.6297910363)'),
 (32, 370, 'Calumet Ave & 21st St', None, 15, 15, 'In Service', 41.85418425, -87.61915374, '(41.85418424947, -87.6191537415)'),
 (33, 373, 'Kedzie Ave & Chicago Ave', None, 11, 11, 'In Service', 41.8954653, -87.70612788, '(41.89546530305, -87.7061278837)'),
 (34, 374, 'Western Ave & Walton St', None, 23, 23, 'In Service', 41.89841769, -87.68659602, '(41.89841768945, -87.6865960164)'),
 (35, 375, 'Sacramento Blvd & Franklin Blvd', None, 11, 11, 'In Service', 41.89046879, -87.70260751, '(41.89046879243862, -87.70260751247406)'),
 (36, 376, 'Artesian Ave & Hubbard St', None, 35, 35, 'In Service', 41.88949182, -87.68821937, '(41.88949181977, -87.6882193648)'),
 (37, 377, 'Kedzie Ave & Lake St', None, 15, 15, 'In Service', 41.88460329, -87.70630374, '(41.88460328501, -87.7063037436)'),
 (38, 378, 'California Ave & Lake St', None, 11, 11, 'In Service', 41.88445396, -87.69629814, '(41.88445395657, -87.6962981368)'),
 (39, 38, 'Clark St & Lake St', None, 27, 27, 'In Service', 41.88602083, -87.63087606, '(41.88602082773, -87.6308760584)'),
 (40, 381, 'Western Ave & Monroe St', None, 15, 15, 'In Service', 41.87978771, -87.68611281, '(41.8797877089, -87.686112808)'),
 (41, 382, 'Western Ave & Congress Pkwy', None, 19, 19, 'In Service', 41.87474885, -87.68644528, '(41.87474885079, -87.6864452757)'),
 (42, 384, 'Halsted St & 51st St', None, 11, 11, 'In Service', 41.80183164, -87.6452139, '(41.80183164049, -87.645213904)'),
 (43, 386, 'Halsted St & 56th St', None, 11, 11, 'In Service', 41.79292965, -87.64499006, '(41.79292964599, -87.6449900565)'),
 (44, 388, 'Halsted St & 63rd St', None, 11, 11, 'In Service', 41.77938114, -87.64462082, '(41.77938114228, -87.6446208145)'),
 (45, 39, 'Wabash Ave & Adams St', None, 23, 23, 'In Service', 41.87947235, -87.62568861, '(41.87947235235, -87.6256886059)'),
 (46, 390, 'Wentworth Ave & 63rd St', None, 11, 11, 'In Service', 41.78007963, -87.62974631, '(41.78007963264, -87.6297463052)'),
 (47, 391, 'Halsted St & 69th St', None, 11, 11, 'In Service', 41.76906172, -87.64461358, '(41.76906172032, -87.6446135779)'),
 (48, 392, 'Perry Ave & 69th St', None, 11, 11, 'In Service', 41.76929309, -87.62819593, '(41.76929308995, -87.6281959291)'),
 (49, 393, 'Calumet Ave & 71st St', None, 11, 11, 'In Service', 41.76550801, -87.61691793, '(41.76550800581, -87.616917925)'),
 (50, 395, 'Jeffery Blvd & 76th St', None, 11, 11, 'In Service', 41.75712007, -87.57583936, '(41.75712006802, -87.5758393587)'),
 (51, 398, 'Rainbow Beach', None, 15, 15, 'In Service', 41.75787145, -87.54938625, '(41.75787144829, -87.54938625)'),
 (52, 399, 'South Shore Dr & 74th St', None, 11, 11, 'In Service', 41.76218896, -87.55927465, '(41.76218896038, -87.55927465)'),
 (53, 403, 'Wentworth Ave & 33rd St', None, 15, 15, 'In Service', 41.83452989, -87.63182298, '(41.83452988563, -87.6318229814)'),
 (54, 406, 'Lake Park Ave & 35th St', None, 19, 19, 'In Service', 41.83127424, -87.6087992, '(41.83127423549, -87.6087991946)'),
 (55, 407, 'State St & Pershing Rd', None, 11, 11, 'In Service', 41.82301524, -87.62656802, '(41.82301523798, -87.6265680185)'),
 (56, 409, 'Shields Ave & 43rd St', None, 11, 11, 'In Service', 41.81620768, -87.63481935, '(41.81620767856, -87.6348193497)'),
 (57, 41, 'Federal St & Polk St', None, 19, 19, 'In Service', 41.87207763, -87.62954377, '(41.87207763285, -87.6295437729)'),
 (58, 410, 'Prairie Ave & 43rd St', None, 15, 15, 'In Service', 41.81665889, -87.61941246, '(41.81665889302, -87.6194124619)'),
 (59, 411, 'Halsted St & 47th Pl', None, 11, 11, 'In Service', 41.80813392, -87.64561655, '(41.80813391481, -87.6456165545)'),
 (60, 412, 'Princeton Ave & 47th St', None, 11, 11, 'In Service', 41.80931771, -87.63344929, '(41.80931770924, -87.633449288)'),
 (61, 413, 'Woodlawn Ave & Lake Park Ave', None, 15, 15, 'In Service', 41.81409271, -87.59700515, '(41.81409271048, -87.5970051479)'),
 (62, 415, 'Calumet Ave & 51st St', None, 11, 11, 'In Service', 41.80229465, -87.61805358, '(41.80229465088, -87.6180535802)'),
 (63, 418, 'Ellis Ave & 53rd St', None, 11, 11, 'In Service', 41.79933626, -87.60095812, '(41.79933626261, -87.6009581145)'),
 (64, 419, 'Lake Park Ave & 53rd St', None, 15, 15, 'In Service', 41.79949429, -87.5864499, '(41.79949429373, -87.5864498959)'),
 (65, 420, 'Ellis Ave & 55th St', None, 19, 19, 'In Service', 41.79430062, -87.60144977, '(41.79430062054, -87.6014497734)'),
 (66, 421, 'MLK Jr Dr & 56th St', None, 11, 11, 'In Service', 41.79342946, -87.61585326, '(41.79342945658, -87.6158532619)'),
 (67, 422, 'DuSable Museum', None, 11, 11, 'In Service', 41.79156801, -87.60785218, '(41.79156801058, -87.6078521774)'),
 (68, 424, 'Museum of Science and Industry', None, 27, 27, 'In Service', 41.79172821, -87.58394501, '(41.79172820953, -87.583945009)'),
 (69, 425, 'Harper Ave & 59th St', None, 15, 15, 'In Service', 41.78794281, -87.58831517, '(41.78794281287, -87.5883151702)'),
 (70, 426, 'Ellis Ave & 60th St', None, 19, 19, 'In Service', 41.78509715, -87.60107276, '(41.78509714636, -87.6010727606)'),
 (71, 427, 'Cottage Grove Ave & 63rd St', None, 15, 15, 'In Service', 41.78059902, -87.60611239, '(41.78059901484, -87.606112388)'),
 (72, 428, 'Dorchester Ave & 63rd St', None, 11, 11, 'In Service', 41.78040565, -87.59141599, '(41.7804056457, -87.5914159893)'),
 (73, 43, 'Michigan Ave & Washington St', None, 43, 43, 'In Service', 41.88398407, -87.62468398, '(41.8839840647265, -87.6246839761734)'),
 (74, 430, 'MLK Jr Dr & 63rd St', None, 11, 11, 'In Service', 41.78008064, -87.61594286, '(41.78008063659, -87.6159428567)'),
 (75, 431, 'Eberhart Ave & 61st St', None, 11, 11, 'In Service', 41.78414169, -87.61330783, '(41.78414169317, -87.6133078304)'),
 (76, 433, 'Kedzie Ave & Harrison St', None, 11, 11, 'In Service', 41.87359968, -87.70487075, '(41.87359967462, -87.7048707493)'),
 (77, 434, 'Ogden Ave & Roosevelt Rd', None, 19, 19, 'In Service', 41.86650148, -87.68469707, '(41.86650148316, -87.68469707)'),
 (78, 435, 'Kedzie Ave & Roosevelt Rd', None, 11, 11, 'In Service', 41.86649278, -87.70649618, '(41.86649278172, -87.7064961757)'),
 (79, 438, 'Central Park Ave & Ogden Ave', None, 15, 15, 'In Service', 41.85420431, -87.71540584, '(41.85420431327, -87.7154058381)'),
 (80, 439, 'Kedzie Ave & 21st St', None, 11, 11, 'In Service', 41.85353363, -87.70507303, '(41.85353363213, -87.7050730318)'),
 (81, 44, 'State St & Randolph St', None, 27, 27, 'In Service', 41.8847302, -87.62773357, '(41.8847302006, -87.6277335692)'),
 (82, 441, 'Kedzie Ave & 24th St', None, 11, 11, 'In Service', 41.84819095, -87.70541375, '(41.84819094491, -87.7054137458)'),
 (83, 443, 'Millard Ave & 26th St', None, 7, 7, 'In Service', 41.84456685, -87.71591031, '(41.84456684891, -87.7159103081)'),
 (84, 444, 'Albany Ave & 26th St', None, 11, 11, 'In Service', 41.84447501, -87.70201301, '(41.84447501366, -87.7020130128)'),
 (85, 445, 'California Ave & 26th St', None, 11, 11, 'In Service', 41.84404003, -87.69529592, '(41.84404003127, -87.6952959227)'),
 (86, 446, 'Western Ave & 28th St', None, 11, 11, 'In Service', 41.84151771, -87.68513144, '(41.84151770807, -87.6851314409)'),
 (87, 447, 'Glenwood Ave & Morse Ave', None, 15, 15, 'In Service', 42.00797192, -87.66550239, '(42.00797192287, -87.6655023944)'),
 (88, 448, 'Warren Park East', None, 11, 11, 'In Service', 42.00454962, -87.68066615, '(42.00454962194, -87.6806661451)'),
 (89, 449, 'Clark St & Columbia Ave', None, 15, 15, 'In Service', 42.00445063, -87.67240241, '(42.00445062934, -87.6724024047)'),
 (90, 453, 'Clark St & Schreiber Ave', None, 15, 15, 'In Service', 41.99925182, -87.67137734, '(41.99925182186, -87.6713773393)'),
 (91, 454, 'Broadway & Granville Ave', None, 23, 23, 'In Service', 41.99477969, -87.66028454, '(41.9947796884, -87.6602845349)'),
 (92, 455, 'Maplewood Ave & Peterson Ave', None, 11, 11, 'In Service', 41.99023603, -87.69336964, '(41.99023602867, -87.6933696402)'),
 (93, 457, 'Clark St & Elmdale Ave', None, 15, 15, 'In Service', 41.99051756, -87.66983359999999, '(41.99051755556753, -87.66983360052109)'),
 (94, 458, 'Broadway & Thorndale Ave', None, 19, 19, 'In Service', 41.98974251, -87.66014062, '(41.98974251144, -87.6601406209)'),
 (95, 459, 'Lakefront Trail & Bryn Mawr Ave', None, 19, 19, 'In Service', 41.984036700000004, -87.65231047, '(41.98403669612, -87.6523104689)'),
 (96, 461, 'Broadway & Ridge Ave', None, 15, 15, 'In Service', 41.98404461, -87.66027383, '(41.9840446107, -87.6602738295)'),
 (97, 463, 'Clark St & Berwyn Ave', None, 19, 19, 'In Service', 41.97799665, -87.66804711, '(41.9779966544, -87.6680471047)'),
 (98, 464, 'Damen Ave & Foster Ave', None, 15, 15, 'In Service', 41.97561481, -87.67945904, '(41.97561480459, -87.6794590387)'),
 (99, 466, 'Ridge Blvd & Touhy Ave', None, 11, 11, 'In Service', 42.01213228, -87.68291264, '(42.01213227742, -87.6829126443)'),
 (100, 467, 'Western Ave & Lunt Ave', None, 15, 15, 'In Service', 42.00859439999999, -87.69049224, '(42.0085943972, -87.6904922389)'),
 (101, 468, 'Budlong Woods Library', None, 11, 11, 'In Service', 41.98366471, -87.69642256, '(41.98366470886, -87.6964225611)'),
 (102, 469, 'St. Louis Ave & Balmoral Ave', None, 15, 15, 'In Service', 41.98039424, -87.71611496, '(41.98039423475, -87.7161149615)'),
 (103, 471, 'Francisco Ave & Foster Ave', None, 15, 15, 'In Service', 41.97563273, -87.70141944, '(41.97563272521, -87.7014194389)'),
 (104, 472, 'Lincoln Ave & Winona St', None, 15, 15, 'In Service', 41.974911299999995, -87.69250256, '(41.97491129677, -87.6925025594)'),
 (105, 474, 'Christiana Ave & Lawrence Ave', None, 15, 15, 'In Service', 41.96835449, -87.71183067, '(41.96835449363, -87.7118306675)'),
 (106, 476, 'Kedzie Ave & Leland Ave', None, 15, 15, 'In Service', 41.96668636, -87.70805198, '(41.96668636205, -87.7080519806)'),
 (107, 478, 'Rockwell St & Eastwood Ave', None, 15, 15, 'In Service', 41.96590014, -87.69363849, '(41.96590013976, -87.6936384935)'),
 (108, 479, 'Drake Ave & Montrose Ave', None, 15, 15, 'In Service', 41.96115408, -87.71656907, '(41.96115407569, -87.7165690733)'),
 (109, 482, 'Campbell Ave & Montrose Ave', None, 15, 15, 'In Service', 41.96152593, -87.69116504, '(41.96152593287, -87.6911650414)'),
 (110, 484, 'Monticello Ave & Irving Park Rd', None, 15, 15, 'In Service', 41.95400484, -87.71912818, '(41.95400483876, -87.7191281797)'),
 (111, 485, 'Sawyer Ave & Irving Park Rd', None, 15, 15, 'In Service', 41.95358618, -87.7093108, '(41.95358617895, -87.7093107999)'),
 (112, 486, 'Oakley Ave & Irving Park Rd', None, 15, 15, 'In Service', 41.95434085, -87.68607962, '(41.95434085219, -87.6860796243)'),
 (113, 487, 'California Ave & Byron St', None, 19, 19, 'In Service', 41.95216219, -87.69805111, '(41.95216219326, -87.698051113)'),
 (114, 49, 'Dearborn St & Monroe St', None, 39, 39, 'In Service', 41.88131982, -87.62952092, '(41.881319815, -87.6295209193)'),
 (115, 490, 'Troy St & Elston Ave', None, 15, 15, 'In Service', 41.94524357, -87.7066499, '(41.94524356848, -87.7066499009)'),
 (116, 491, 'Talman Ave & Addison St', None, 15, 15, 'In Service', 41.94663583, -87.69461476, '(41.9466358306, -87.694614758)'),
 (117, 494, 'Kedzie Ave & Bryn Mawr Ave', None, 15, 15, 'In Service', 41.98239709, -87.70892252, '(41.98239708485, -87.7089225202)'),
 (118, 495, 'Keystone Ave & Montrose Ave', None, 11, 11, 'In Service', 41.96110802, -87.72897009999998, '(41.96110801623, -87.7289701012)'),
 (119, 498, 'California Ave & Fletcher St', None, 19, 19, 'In Service', 41.93842879, -87.69800776, '(41.93842879148, -87.698007756)'),
 (120, 499, 'Kosciuszko Park', None, 15, 15, 'In Service', 41.93058537, -87.72377736, '(41.93058537138, -87.7237773635)'),
 (121, 50, 'Clark St & Ida B Wells Dr', None, 35, 35, 'In Service', 41.87593267, -87.63058454, '(41.8759326655, -87.6305845355)'),
 (122, 500, 'Central Park Ave & Elbridge Ave', None, 15, 15, 'In Service', 41.93533728, -87.71688929, '(41.93533728263, -87.7168892935)'),
 (123, 501, 'Richmond St & Diversey Ave', None, 15, 15, 'In Service', 41.93190197, -87.70119513, '(41.93190196886, -87.7011951301)'),
 (124, 503, 'Drake Ave & Fullerton Ave', None, 15, 15, 'In Service', 41.92439882, -87.71544104, '(41.924398819, -87.7154410355)'),
 (125, 504, 'Campbell Ave & Fullerton Ave', None, 15, 15, 'In Service', 41.92463247, -87.68930701, '(41.92463247165, -87.6893070063)'),
 (126, 505, 'Winchester Ave & Elston Ave', None, 15, 15, 'In Service', 41.92409085, -87.67646008, '(41.92409085038, -87.6764600747)'),
 (127, 506, 'Spaulding Ave & Armitage Ave', None, 15, 15, 'In Service', 41.91710804, -87.71022096, '(41.917108034789315, -87.71022096276283)'),
 (128, 507, 'Humboldt Blvd & Armitage Ave', None, 19, 19, 'In Service', 41.91751339, -87.70180896, '(41.91751339399, -87.7018089555)'),
 (129, 508, 'Central Park Ave & North Ave', None, 15, 15, 'In Service', 41.90965688, -87.71663195, '(41.90965687563, -87.7166319516)'),
 (130, 509, 'Troy St & North Ave', None, 15, 15, 'In Service', 41.909769299999994, -87.70528049, '(41.90976930169, -87.7052804871)'),
 (131, 510, 'Spaulding Ave & Division St', None, 11, 11, 'In Service', 41.90270659, -87.70921957, '(41.90270659438, -87.709219571)'),
 (132, 511, 'Albany Ave & Bloomingdale Ave', None, 15, 15, 'In Service', 41.91402671, -87.70512646, '(41.91402671273, -87.705126462)'),
 (133, 54, 'Ogden Ave & Chicago Ave', None, 19, 19, 'In Service', 41.89636246, -87.65406127, '(41.896362458, -87.6540612729)'),
 (134, 57, 'Clinton St & Roosevelt Rd', None, 15, 15, 'In Service', 41.86711778, -87.64108796, '(41.8671177825, -87.6410879593)'),
 (135, 60, 'Dayton St & North Ave', None, 19, 19, 'In Service', 41.91057804, -87.64942193, '(41.9105780349, -87.6494219288)'),
 (136, 62, 'McCormick Place', None, 27, 27, 'In Service', 41.85137517, -87.61883465, '(41.8513751729, -87.6188346489)'),
 (137, 638, 'Clinton St & Jackson Blvd', None, 23, 23, 'In Service', 41.87811603, -87.63983846, '(41.87811603010527, -87.63983845710754)'),
 (138, 67, 'Sheffield Ave & Fullerton Ave', None, 27, 27, 'In Service', 41.92560188, -87.65370804, '(41.9256018819, -87.6537080423)'),
 (139, 672, 'Franklin St & Illinois St', None, 11, 11, 'In Service', 41.89102331, -87.63547987, '(41.89102331025185, -87.63547986745834)'),
 (140, 673, 'Lincoln Park Conservatory', None, 31, 31, 'In Service', 41.92393131, -87.63582453, '(41.92393131136619, -87.63582453131676)'),
 (141, 69, 'Damen Ave & Pierce Ave', None, 23, 23, 'In Service', 41.90939601, -87.67769193, '(41.9093960065, -87.6776919292)'),
 (142, 7, 'Field Blvd & South Water St', None, 19, 19, 'In Service', 41.88634906, -87.61751655, '(41.88634906269, -87.6175165471)'),
 (143, 74, 'Kingsbury St & Erie St', None, 23, 23, 'In Service', 41.89380806, -87.64169723, '(41.89380805624359, -87.64169722795485)'),
 (144, 89, 'Financial Pl & Ida B Wells Dr', None, 31, 31, 'In Service', 41.87502363, -87.63309404, '(41.8750236280333, -87.6330940425396)'),
 (145, 96, 'Desplaines St & Randolph St', None, 23, 23, 'In Service', 41.88461619, -87.64457059, '(41.88461618962, -87.6445705849)'),
 (146, 134, 'Peoria St & Jackson Blvd', None, 23, 23, 'In Service', 41.877641600000004, -87.64961779, '(41.8776415962753, -87.64961779117584)'),
 (147, 353, 'Clark St & Touhy Ave', None, 15, 15, 'In Service', 42.01256012, -87.67436712, '(42.01256011541, -87.6743671152)'),
 (148, 365, 'Halsted St & North Branch St', None, 15, 15, 'In Service', 41.89936844, -87.64847988, '(41.89936843921, -87.6484798752)'),
 (149, 40, 'LaSalle St & Adams St', None, 15, 15, 'In Service', 41.87934437, -87.63198522, '(41.87934437346, -87.6319852213)'),
 (150, 56, 'Desplaines St & Kinzie St', None, 27, 27, 'In Service', 41.88871604, -87.64444785, '(41.888716036, -87.6444478533)'),
 (151, 71, 'Morgan St & Lake St', None, 23, 23, 'In Service', 41.88548331, -87.65230486, '(41.8854833079, -87.6523048564)'),